
@mixin flex($direction, $align1, $align2){

	box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

	-webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

	-webkit-align-items: $align1;
  -ms-flex-align: $align1;
  align-items: $align1;

  -webkit-justify-content: $align2;
  -ms-flex-pack: $align2;
  justify-content: $align2;

	-webkit-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  -moz-box-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;

}

@mixin rotate($deg){
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}