
.navigation{}

.nav-box{
	position: fixed;
	width: 320px;
	padding: 20px 30px 0px;
	z-index: 10;
}

.nav-box.open{
	background-color: $darkBlue;
	padding-bottom: 30px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

	.nav-brand.black{ color: white; }
}

.nav-box.closed{
	.menu{
		display: none;
	}
}

.nav-brand{
	@include flex(row, center, flex-start);
	z-index: 10;
}

.nav-brand.white{
	color: white;
}

.nav-brand.black{
	color: $offBlack;
}

.brand-logo{
	font-size: 33px;
}

.menu-btn{
	margin-right: 20px;
	cursor: pointer;
	transition: .15s opacity ease-in-out;
	font-size: 18px;
}

.menu-btn:hover{
	opacity: 0.6;
}

.menu{
	margin-top: 20px;
	z-index: 10;
}

.menu li{
	position: relative;
	padding: 10px 0;
}

.menu li a{
	font-size: 24px;
	color: white;
	transition: .1s all ease-in-out;
}

.menu li a:hover{
	color: $red;
}

.nav-bkgd.closed{
	display: none;
}

.nav-bkgd.open{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

.menu .music-tag{
	padding: 30px 40px 0 0;
}

/*-----------NAVBAR OVERRIDE-------------*/
.navbar {
  min-height: 50px;
  margin-bottom: 0px;
  border: none;
}

.navbar-default{
	background-color: $darkBlue;
	border-radius: 0;
}

.navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
  opacity: 0.6;
  color: white;
  background-color: transparent;
}

.navbar-default > div{
	float: none;
	@include flex(row, center, center);
}

.navbar-brand{
	height: auto;
}

/*-----------HOME NAV-------------*/

.home-top-nav{}

.home-top-nav .nav{
	background-color: rgba(0,0,0,0.4);
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.home-top-nav a{ color: rgba(255,255,255,0.9); }

.home-top-nav .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: $red;
}

.navbar-center{
	@include flex(row, center, center);
}

.home-bottom-nav{}

.home-bottom-nav a{ color: rgba(255,255,255,0.5); }

.home-bottom-nav .nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: white;
}

