/*------------RESPONSIVE-------------*/
@media (min-width: 768px) {
	.brand-logo-hero{ font-size: 8em; }
	.home-page h1{ font-size: 29px; }
}

@media (min-width: 992px) {
	.brand-logo-hero{ font-size: 10em; }
	.home-page h1{ font-size: 36px; }
}

@media (min-width: 1200px) {
	.brand-logo-hero{ font-size: 12em; }
	.home-page h1{ font-size: 44px; }
}

@media (max-width: 960px) {

}

@media (max-width: 767px) {
	.brand-logo-hero{ font-size: 6em; }
	.home-page h1{ font-size: 24px; }
}

@media (max-width: 420px){
	.brand-logo-hero{ font-size: 4em; }
	.home-page h1{ font-size: 20px; }
}