

$yellow: #F6F165;
$yellow-fade: rgba(246, 241, 101, 0.95);
$beige: #D4D2B2; 
$red: #F44C5C;
$red-hover: #C23C49;
$lightBlue: #298EC1;
$lightBlue-hover: #1E698F;
$darkBlue: #133140;
$darkBlue-fade: rgba(19,49,64,0.6);

$offBlack: #181818;
$lightGray: #f5f5f5;
$gray: #ccc;