$base: 18px;

.base-top{ margin-top: $base; }
.base-drop{ margin-bottom: $base; }

.base-top-3{ margin-top: $base*3; }

/*--------SETUP-----------*/
html, body{
	height: 100%;
}

.bkgd{
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.template-injection{
	height: 100%;
}

/*--------FORMS-----------*/
label {
  margin-bottom: 10px;
}

.form-group{
	margin-bottom: $base*1.5;
}

.form-control{
	border: none;
	box-shadow: none;
	height: 50px;
	font-size: 2.4px; font-size: 2.4rem;
}

/*--------TABLES-----------*/
.table > thead > tr > th {
  border-bottom: none;
}

.table > thead > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > th, 
.table > tbody > tr > td, 
.table > tfoot > tr > th, 
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: none;
}

.table > thead > tr > td.active, 
.table > thead > tr > th.active, 
.table > thead > tr.active > td, 
.table > thead > tr.active > th, 
.table > tbody > tr > td.active, 
.table > tbody > tr > th.active, 
.table > tbody > tr.active > td, 
.table > tbody > tr.active > th, 
.table > tfoot > tr > td.active, 
.table > tfoot > tr > th.active, 
.table > tfoot > tr.active > td, 
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/*--------GRAPHICAL NAVIGATION / MAEUS ICONS-----------*/
$maeus-icon-size: 36px;
.maeus-icon{
	width: $maeus-icon-size; height: $maeus-icon-size;
	border-radius: $maeus-icon-size/2;

	position: absolute;
	left: -($maeus-icon-size+($maeus-icon-size/3));
	top: 50%;
	margin-top: -$maeus-icon-size/2;

	@include flex(row, center, center);
}

.maeus-icon i{
	color: $darkBlue;
	font-size: $maeus-icon-size/2.5;
}

.discover-minicon{
	background-color: $lightBlue;
}

.my-music-minicon{
	background-color: $yellow;
}

.account-minicon{
	background-color: $red;
}

.header-placement{

}