<div class="artist-panel" >
	<div class="album-cover">
		<img ng-src="{{$parent.info.image}}" class="img-responsive">
		<div class="album-info">
			<h3>{{$parent.info.title}}</h3>
			<h4>{{$parent.info.album}}</h4>
		</div>
	</div>
	<div class="artist-content">
		<h2>{{$parent.info.artist.name}}</h2>
		<p>
			{{$parent.info.description}}
		</p>
		<div class="artist-actions row">
			<div class="col-sm-6">
				<button class="btn btn-block btn-l artist-info-btn" href="#/artist-details" >Artist Details</button>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-block btn-l artist-info-btn">Share</button>
			</div>
		</div>
	</div>
</div>

